@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap");

img{
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-size: 35px;
    font-family: 'Cairo', sans-serif;
    text-align: center
}

.para{
    text-align: center;
    margin-top: 30px
}